.heading-title {
  color: $secondary-color;
  text-align: center;
  @include font-bold(900);
  @include text-transform(uppercase);
  font-size: rem-calc(18);
  margin-bottom: rem-calc(100);
  margin-top: rem-calc(40);
  width: 100%;
  span {
    color: $primary-color;
    font-size: rem-calc(38);
    // to get that line break use display: table;
    display: table;
    margin: 0 auto;
  }
  &:after {
    content: '';
    @include box(rem-calc(80), rem-calc(80));
    background-image: url(../img/coffee.svg);
    background-size: rem-calc(80);
    background-repeat: no-repeat;
    @include horizontal-center();
    margin-top: rem-calc(-15);
  }
}