<footer class="site-footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-box">
        <h3>Locations</h3>
        <p>44 Shirley Ave. </p>
        <p>West Chicago, IL 60185</p>
      </div>
      <div class="footer-box">
        <h3>Reservation</h3>
        <p>Call Us:</p>
        <p>202-555-0126</p>
      </div>
      <div class="footer-box">
        <h3>Opening Table</h3>
        <p>Mon - Thu 11:00 - 22:00 </p>
        <p>Fri - Sat 09:00 - 24:00 </p>
        <p>Sunday - Closed</p>
      </div>
    </div> <!-- .footer-content -->
  </div> <!-- .container -->
  <p class="copyright">All Rights Reserved Bryan Cee 2017.</p>
</footer> <!-- .site-footer -->